<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>

<form [formGroup]="formulario">
  <div class="paragrafo">
    <p>
      [hotkeys]=" {{hotkey1 | json}}"
    </p>
    <input type="text" name="nome1" formControlName="Nome1" nht-hotkeyinput [hotkeys]="hotkey1">
  </div>

  <div class="paragrafo">
    <p>
      hotkeys="{{hotkey2 | json}}"
    </p>
    <input type="text" name="Nome2" formControlName="Nome2" nht-hotkeyinput hotkeys="{keys:['F1'], callback: 'alerta', method: 'registered'}">
  </div>

  <div class="paragrafo">
    <p>
      [hotkeys]="{{hotkey2 | json}}"
    </p>
    <input type="text" name="Nome3" formControlName="Nome3" nht-hotkeyinput [hotkeys]="hotkey2">
  </div>

  <div class="paragrafo">
    <p>
      [hotkeys]=""
    </p>
    <input type="text" name="Nome4" formControlName="Nome4" nht-hotkeyinput [hotkeys]="">
  </div>
</form>
<!-- <input type="text" name="email" [(ngModel)]="email" nht-hotkeyinput hotkeys="" methodRegistered="alerta" shortCutvalue="teste" [shortcutKeys]="['2','Tab']"> -->